# ----------------------------------------
# NPM
# ----------------------------------------

node_modules/
npm-debug.log


# ----------------------------------------
# ENV
# ----------------------------------------
.env


./trellotasklist.rtf
